body {
    margin:0;
    padding:0;
}
.cabecera {
background-color: black;
display: flex;
justify-content: space-between;
align-items: center;
}
.logo {
    width: 100px;
    margin: 20px
}
.menu {
    width: 25px;
    margin: 20px
}
main {
  background-color: #529CF1;
  padding-top: 130px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 35px;
  margin: 0px;
}
h1 {
  margin: 20px 0px;
  font-family: Helvetica;
  font-size: 50px;
  color: white;
}
h2 {
  margin: 0px;
  font-family: Helvetica;
  color: white;
}
button {
  margin: 20px 0px;
  padding: 10px 150px;
  border-radius: 30px;
  border: none;
  background-color: #26B758;
  font-family: helvetica;
  color: white;
}
p {
  margin: 0px;
  font-family: helvetica;
  color: white;
}
