body {
    margin:0;
    padding:0;
}
.header-container {
background-color: black;
display: flex;
justify-content: space-between;
align-items: center;
}
.logo {
    width: 100px;
    margin: 20px
}
.hamburguer {
    width: 25px;
    margin: 20px
}
.container-premium {
  background-color: #529CF1;
  padding-top: 130px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 35px;
}
h1 {
  margin: 20px 0px;
  font-family: Helvetica;
  font-size: 50px;
  color: white;
}
h3 {
  margin: 0px;
  font-family: Helvetica;
  color: white;
}
.title {
  display: flex;
  justify-content: center;
}
h2 {
  margin: 0px;
  font-family: Helvetica, sans-serif;
  color: black;
}
button {
  margin: 20px 0px;
  padding: 10px;
  width: 100%; 
  border-radius: 30px;
  border: none;
  background-color: #26B758;
  font-family: helvetica;
  color: white;
}
p {
  margin: 0px;
  font-family: helvetica;
  color: white;
}
.links {
  display: none;
}
.container-benefits {
  background-color: white;
  padding-top: 130px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 35px;
}
h4 {
  margin: 0px;
  font-family: Helvetica, sans-serif;
  color: black;
}
.text-benefits {
  font-family: Helvetica, sans-serif;
  color: black  
}
.download, .block, .play, .forward {
  width: 100px;
}
.subsubcontainer-images {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 25px 0px;
  width: 100px;
}
.subsubcontainer-text {
  display: flex;
  flex-direction: column;
  margin: 25px;
  gap: 90px;
}
.subcontainer-imageandtext {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media screen and (min-width: 736px) {
  .links {
    display: flex;
    gap: 20px;
  }

  .links li {
    list-style: none;
  }

  .links li a {
    text-decoration: none;
    color: white;
    font-family: Helvetica, sans-serif;
  }

  .hamburguer {
    display: none;
  }
}