body {
    margin:0;
    padding:0;
}
.cabecera {
background-color: black;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
}
.logo {
    width: 40px;
  height: auto;
  display: inline-block;
  margin: 5px;
}
.menu {
    width: 15px;
  height: auto;
  display: inline-block;
  margin: 5px;
}

